body{
    font-family: 'Stick', sans-serif;
}
section{
    margin-bottom: 40px;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
img{
    width: 100%;
    border-radius: 40px;
}
.header{
    display: flex;
    justify-content: space-between;
}
.avatar{
    width:200px;
    height:200px;
    
}
