* 
{
  margin: 0;
  padding: 0;
}
body{
    font-family: 'Stick', sans-serif;
}
section{
    margin-bottom: 40px;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
img{
    width: 100%;
    
}
.header{
    display: flex;
    justify-content: space-between;
}
.avatar{
    width:200px;
    height:200px;
    
}
.avatar img{
    border-radius: 30px;
}
.headerText p{
    background-color: #d6d6e0;
    text-align: center;
}
.codeExample figure{
    width: 700px;
}
footer{
    height: 100px;
    background-color: #eee;
    display: flex;
    justify-content:space-evenly;
}
footer figure{
    width: 100px;
}
.gh img{
    width:60%;
}